@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
body {
  margin: 0;
  background-color: #f9fafb; /* gray-50 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Opcional: Ocultar la barra de scroll en la tabla para móviles, 
   pero manteniendo la capacidad de hacer scroll con el dedo */
.overflow-x-auto::-webkit-scrollbar {
  height: 6px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #e5e7eb; /* gray-200 */
  border-radius: 10px;
}